@font-face {
  font-family: 'Campton';
  font-weight: bold;
  src: url('https://github.com/sacdemo/sacdemo.io/tree/master/Campton/Fonts/Campton-Bold.eot?#iefix') format('embedded-opentype'),  
       url('https://github.com/sacdemo/sacdemo.io/tree/master/Campton/Fonts/Campton-Bold.otf')  format('opentype'),
       url('https://github.com/sacdemo/sacdemo.io/tree/master/Campton/Fonts/Campton-Bold.woff') format('woff'), 
       url('https://github.com/sacdemo/sacdemo.io/tree/master/Campton/Fonts/Campton-Bold.ttf')  format('truetype'), 
       url('https://github.com/sacdemo/sacdemo.io/tree/master/Campton/Fonts/Campton-Bold.svg#Campton-Bold') format('svg');
 }